USE [master]
GO
/****** Object:  Database [OnlineAssessmentSystem]    Script Date: 22-07-2022 05:14:40 PM ******/
CREATE DATABASE [OnlineAssessmentSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineAssessmentSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OnlineAssessmentSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineAssessmentSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OnlineAssessmentSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineAssessmentSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineAssessmentSystem]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 22-07-2022 05:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[questionId] [int] IDENTITY(1,1) NOT NULL,
	[subjectId] [int] NULL,
	[question] [nvarchar](max) NULL,
	[answer1] [nvarchar](max) NULL,
	[answer2] [nvarchar](max) NULL,
	[answer3] [nvarchar](max) NULL,
	[answer4] [nvarchar](max) NULL,
	[correctAnswer] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 22-07-2022 05:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[USN] [nvarchar](10) NULL,
	[username] [nvarchar](max) NULL,
	[subjectId] [int] NULL,
	[score] [decimal](5, 2) NULL,
	[subjectName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 22-07-2022 05:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[subjectId] [int] IDENTITY(1,1) NOT NULL,
	[subjectName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[superUser]    Script Date: 22-07-2022 05:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[superUser](
	[adminId] [nvarchar](10) NOT NULL,
	[username] [nvarchar](max) NULL,
	[passwordHash] [varbinary](max) NULL,
	[passwordSalt] [varbinary](max) NULL,
	[fullName] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[phoneNumber] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userDetails]    Script Date: 22-07-2022 05:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDetails](
	[USN] [nvarchar](10) NOT NULL,
	[username] [nvarchar](max) NULL,
	[passwordHash] [varbinary](max) NULL,
	[passwordSalt] [varbinary](max) NULL,
	[fullName] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[phoneNumber] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[USN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[questions] ON 
GO
INSERT [dbo].[questions] ([questionId], [subjectId], [question], [answer1], [answer2], [answer3], [answer4], [correctAnswer]) VALUES (1, 1, N'What is the full form of DBMS?', N'Database System', N'Database Management System', N'Database Binary Management System - (Edit)', N'Database Vining System', N'Database Management System')
GO
INSERT [dbo].[questions] ([questionId], [subjectId], [question], [answer1], [answer2], [answer3], [answer4], [correctAnswer]) VALUES (5, 1, N'What is Python?', N'A Snake', N'Programming Language', N'Processor Model', N'Band Name', N'Programming Language')
GO
INSERT [dbo].[questions] ([questionId], [subjectId], [question], [answer1], [answer2], [answer3], [answer4], [correctAnswer]) VALUES (10, 6, N'Which phone did you buy?', N'RealMe', N'Redmi', N'Xiaomi', N'Samsung', N'Oppo')
GO
SET IDENTITY_INSERT [dbo].[questions] OFF
GO
INSERT [dbo].[results] ([USN], [username], [subjectId], [score], [subjectName]) VALUES (N'1BY19CS151', N'Siddharth78', 1, CAST(1.00 AS Decimal(5, 2)), N'DBMS')
GO
INSERT [dbo].[results] ([USN], [username], [subjectId], [score], [subjectName]) VALUES (N'1BY19CS077', N'Manish123', 1, CAST(1.00 AS Decimal(5, 2)), N'DBMS')
GO
SET IDENTITY_INSERT [dbo].[subject] ON 
GO
INSERT [dbo].[subject] ([subjectId], [subjectName]) VALUES (1, N'DBMS')
GO
INSERT [dbo].[subject] ([subjectId], [subjectName]) VALUES (6, N'Cloud Computing')
GO
INSERT [dbo].[subject] ([subjectId], [subjectName]) VALUES (8, N'ATC')
GO
SET IDENTITY_INSERT [dbo].[subject] OFF
GO
INSERT [dbo].[superUser] ([adminId], [username], [passwordHash], [passwordSalt], [fullName], [email], [phoneNumber]) VALUES (N'123abcd', N'Uchiha', 0x4980D24958A957DD7C2086123BF8766C18BF77EB73E87CAB6D599D334B7C3E4F9CDE5D7B4E9BD44025622457FE67D48C2A75C06BE448211A0B5C9D74BC5BE479, 0x25E72FC59373ABA776C438751E1E50F3F49583DA91F7087B5C4E492AFAD92FA0D0103BFF8C83B87BD9687434F13255ED7A2BE90FE504433DBA53A1A7B174C63D554F2437B3327A66634CF95C2C28C1DB735737BBBA3530B7F1CC91CC9E988E6590D55288BBD7FA0133997CA53860594A761856212F1DC6DC46378E8D469FE75D, N'Itachi', N'itachi@gmail.com', N'9874774856')
GO
INSERT [dbo].[userDetails] ([USN], [username], [passwordHash], [passwordSalt], [fullName], [email], [phoneNumber]) VALUES (N'1BY19CS001', N'Mighto', 0xA96AB3D2788D8738F4BF07CE5CA038D1D2746002D24203CE211016CAEF978B3570AA07E8E4649F60A06DDB8BB84C008DBDAA396D12588B17C8379B34B3B67E2D, 0x45162F883E9D0C1E4B432A18829709993F8F39F5F7CACFCEB47F6B5AA11B16C985DD7033B08F2B765321C7FFA1F2A17724CBAE889CE6BE1B946279DEAD2737D134FC286427A61DE701C01ED690960A5F88C05188CBA2571AB72ED5AD1A3056BB9F908B73F943BDA9270750F98655C391CD719441F97ACF06B2823DB182B1868D, N'Might Guy', N'mighto@gmail.com', N'987551423')
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[subject] ([subjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[subject] ([subjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([USN])
REFERENCES [dbo].[userDetails] ([USN])
ON DELETE CASCADE
GO
USE [master]
GO
